<template>
  <div class="max-w-screen-md mx-auto px-4 py-10">
    <div
      v-if="statusMsg || errorMsg"
      class="mb-10 bg-light-grey rounded-md p-4 shadow-lg"
    >
      <p class="text-light-green">{{ statusMsg }}</p>
      <p class="text-red-500">{{ errorMsg }}</p>
    </div>
    <div class="p-8 flex items-start bg-light-grey rounded-md shadow-lg">
      <form class="flex flex-col gap-y-5 w-full">
        <h1 class="text-2xl text-light-blue">Record Workout</h1>
        <div class="flex flex-col">
          <label for="workout-name" class="mb-1 text-sm text-light-blue"
            >Workout Name</label
          >
          <input
            type="text"
            required
            class="focus:outline-none p-2 text-gray-500"
            id="workout-name"
            v-model="workoutName"
          />
        </div>
        <div class="flex flex-col">
          <label for="workout-type" class="mb-1 text-sm text-light-blue"
            >Workout Type</label
          >
          <select
            id="workout-type"
            class="focus:outline-none p-2 mb-4 text-gray-500"
            required
            v-model="workoutType"
            @change="onWorkoutChange"
          >
            <option value="select-workout">Select Workout</option>
            <option value="strength">Strength Training</option>
            <option value="cardio">Cardio</option>
          </select>
          <div v-if="workoutType === STRENGTH" class="flex flex-col gap-y-4">
            <div
              class="flex flex-col gap-x-6 gap-y-2 relative md:flex-row"
              v-for="(item, index) in strengthExercises"
              :key="index"
            >
              <div class="flex flex-col md:w-1/3">
                <label for="exercise-name" class="mb-1 text-sm text-light-blue">
                  Exercise
                </label>
                <input
                  required
                  type="text"
                  class="p-2 text-gray-500 w-full focus:outline-none"
                  v-model="item.exercise"
                />
              </div>
              <div class="flex flex-col flex-1">
                <label for="sets" class="mb-1 text-sm text-light-blue">
                  Sets
                </label>
                <input
                  required
                  type="number"
                  class="p-2 text-gray-500 w-full focus:outline-none"
                  v-model="item.sets"
                />
              </div>
              <div class="flex flex-col flex-1">
                <label for="reps" class="mb-1 text-sm text-light-blue">
                  Reps
                </label>
                <input
                  required
                  type="number"
                  class="p-2 text-gray-500 w-full focus:outline-none"
                  v-model="item.reps"
                />
              </div>
              <div class="flex flex-col flex-1">
                <label for="weight" class="mb-1 text-sm text-light-blue">
                  Weight
                </label>
                <input
                  required
                  type="number"
                  class="p-2 text-gray-500 w-full focus:outline-none"
                  v-model="item.weight"
                />
              </div>
              <div class="flex flex-row items-end h-auto">
                <img
                  :src="require('../assets/images/trash-blue.png')"
                  class="h-9 pb-4 w-auto cursor-pointer"
                  @click="deleteExercise(index)"
                />
              </div>
            </div>
            <button
              type="button"
              class="mt-6 py-2 px-6 rounded-sm self-start text-sm text-white bg-light-blue duration-200 border-solid border-2 border-transparent hover:border-light-blue hover:bg-white hover:text-light-blue"
              @click="addStrenghtExercise"
            >
              Add exercise
            </button>
          </div>
          <div v-if="workoutType === CARDIO" class="flex flex-col gap-y-4">
            <div
              class="flex flex-col gap-x-6 gap-y-2 relative md:flex-row"
              v-for="(item, index) in cardioExercises"
              :key="index"
            >
              <div class="flex flex-col md:w-1/3">
                <label for="cardio-type" class="mb-1 text-sm text-light-blue">
                  Type
                </label>
                <select
                  id="cardio-type"
                  class="p-2 w-full focus:outline-none text-gray-500"
                  v-model="item.cardioType"
                >
                  <option value="#">Select Type</option>
                  <option value="CARDIO_RUN">Run</option>
                  <option value="CARDIO_WALK">Walk</option>
                </select>
              </div>
              <div class="flex flex-col flex-1">
                <label for="distance" class="mb-1 text-sm text-light-blue">
                  Distance
                </label>
                <input
                  required
                  type="number"
                  class="p-2 text-gray-500 w-full focus:outline-none"
                  v-model="item.distance"
                />
              </div>
              <div class="flex flex-col flex-1">
                <label for="duration" class="mb-1 text-sm text-light-blue">
                  Duration
                </label>
                <input
                  required
                  type="number"
                  class="p-2 text-gray-500 w-full focus:outline-none"
                  v-model="item.duration"
                />
              </div>
              <div class="flex flex-col flex-1">
                <label for="pace" class="mb-1 text-sm text-light-blue">
                  Pace
                </label>
                <input
                  required
                  type="number"
                  class="p-2 text-gray-500 w-full focus:outline-none"
                  v-model="item.pace"
                />
              </div>
              <img
                :src="require('../assets/images/trash-light.png')"
                class="h-4 w-auto absolute -left-5 cursor-pointer"
              />
            </div>
            <button
              type="button"
              class="mt-6 py-2 px-6 rounded-sm self-start text-sm text-white bg-light-blue duration-200 border-solid border-2 border-transparent hover:border-light-blue hover:bg-white hover:text-light-blue"
              @click="addCardioExercise()"
            >
              Add exercise
            </button>
          </div>
        </div>
        <button
          type="button"
          class="mt-6 py-2 px-6 rounded-sm self-start text-sm text-white bg-light-blue duration-200 border-solid border-2 border-transparent hover:border-light-blue hover:bg-white hover:text-light-blue"
          @click="saveWorkout()"
        >
          Save Workout
        </button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { uid } from "uid";
import { StrengthExercise, CardioExercise, useStore } from "@/store/index";

const STRENGTH = "strength";
const CARDIO = "cardio";
const CARDIO_RUN = "run";
const CARDIO_WALK = "walk";

export default defineComponent({
  name: "create-workout",
  setup() {
    const workoutName = ref("");
    const workoutType = ref("select-workout");
    const strengthExercises = ref<Array<StrengthExercise>>([]);
    const cardioExercises = ref<Array<CardioExercise>>([]);
    const statusMsg = ref(null);
    const errorMsg = ref(null);
    const addStrenghtExercise = async () => {
      strengthExercises.value.push({
        id: uid(),
        name: "",
        sets: 0,
        reps: 0,
        weight: 0,
      });
    };
    const addCardioExercise = async () => {
      cardioExercises.value.push({
        id: uid(),
        type: "run",
        distance: 0,
        duration: 0,
        pace: 0,
      });
    };
    const store = useStore();
    const saveWorkout = async () => {
      store.commit("addWorkout", {
        name: workoutName.value,
        type: workoutType.value,
        exercises: (workoutType.value === STRENGTH
          ? strengthExercises
          : cardioExercises
        ).value,
      });
      onWorkoutChange();
    };
    const onWorkoutChange = async () => {
      if (workoutType.value === STRENGTH) {
        strengthExercises.value = [
          {
            id: uid(),
            name: "",
            sets: 0,
            reps: 0,
            weight: 0,
          },
        ];
      } else if (workoutType.value === CARDIO) {
        cardioExercises.value = [
          {
            id: uid(),
            type: "run",
            distance: 0,
            duration: 0,
            pace: 0,
          },
        ];
      }
    };
    const deleteExercise = async (index: number) => {
      if (
        workoutType.value === STRENGTH &&
        index < strengthExercises.value.length
      ) {
        strengthExercises.value.splice(index, 1);
      } else if (
        workoutType.value === CARDIO &&
        index < cardioExercises.value.length
      ) {
        cardioExercises.value.splice(index, 1);
      }
    };
    return {
      workoutName,
      workoutType,
      strengthExercises,
      cardioExercises,
      statusMsg,
      errorMsg,
      addStrenghtExercise,
      addCardioExercise,
      saveWorkout,
      STRENGTH,
      CARDIO,
      CARDIO_WALK,
      CARDIO_RUN,
      onWorkoutChange,
      deleteExercise,
    };
  },
});
</script>
