<template>
  <div></div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "home-view",
  components: {},
  setup() {
    // Create data / vars

    // Get data

    // Run data function

    return {};
  },
});
</script>
