<template>
  <div class="mx-auto px-4 py-10 max-w-screen-sm">
    <div
      v-if="errorMessage"
      class="mb-10 p-4 rounded-xl bg-light-grey shadow-lg"
    >
      <p class="text-red-500">
        {{ errorMessage }}
      </p>
    </div>
    <form
      @submit.prevent="login"
      class="p-8 flex flex-col bg-light-grey rounded-xl shadow-lg"
    >
      <h1 class="text-3xl text-light-blue mb-4">Login</h1>
      <div class="flex flex-col mb-2">
        <label for="email" class="mb-1 text-sm text-light-blue">Email</label>
        <input
          type="text"
          required
          class="p-2 text-gray-500 focus:outline-none"
          id="email"
          v-model="email"
        />
      </div>
      <div class="flex flex-col mb-2">
        <label for="password" class="mb-1 text-sm text-light-blue"
          >Password</label
        >
        <input
          type="password"
          required
          class="p-2 text-gray-500 focus:outline-none"
          id="password"
          v-model="password"
        />
      </div>
      <button
        type="submit"
        class="mt-6 py-2 px-6 rounded-sm self-start text-sm text-white bg-light-blue duration-200 border-solid border-2 border-transparent hover:border-light-blue hover:bg-white hover:text-light-blue"
      >
        Login
      </button>

      <router-link class="mt-6 text-sm text-center" :to="{ name: 'register' }">
        Don't have an account? <span class="text-light-blue">Register</span>
      </router-link>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { supabase } from "@/supabase/supabase";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "login-view",
  setup() {
    const router = useRouter();
    const email = ref<string | null>(null);
    const password = ref<string | null>(null);
    const errorMessage = ref<string | null>(null);

    const login = async () => {
      try {
        if (!email.value || !password.value) {
          throw Error("Undefined email or password");
        }
        const { error } = await supabase.auth.signIn({
          email: email.value,
          password: password.value,
        });
        if (error) {
          throw error;
        }
        console.log(`Logged in for ${email.value}`);
        router.push({ name: "home" });
      } catch (error) {
        console.log(error);
        errorMessage.value = `Failed to login: ${error.message}`;
        setTimeout(() => (errorMessage.value = null), 5000);
      }
    };
    return { email, password, errorMessage, login };
  },
});
</script>
