<template>
  <div></div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "view-workout",
  setup() {
    // Create data / vars

    // Get current Id of route

    // Get workout data

    // Delete workout

    // Edit mode

    // Add exercise

    // Delete exercise

    // Update Workout

    return {};
  },
});
</script>
