<template>
  <header class="bg-light-blue text-white">
    <nav
      class="container py-5 px-4 flex flex-col gap-4 items-center sm:flex-row"
    >
      <div class="flex items-center gap-x-4">
        <img
          :src="require('../assets/images/dumbbell-light.png')"
          class="w-14"
        />
        <h1 class="text-lg">Workout Tracker</h1>
      </div>
      <ul class="flex flex-1 justify-end gap-x-10">
        <router-link class="cursor-pointer" :to="{ name: 'home' }"
          >Home</router-link
        >
        <router-link v-if="user" class="cursor-pointer" :to="{ name: 'create' }"
          >Create</router-link
        >
        <router-link v-if="!user" class="cursor-pointer" :to="{ name: 'login' }"
          >Login</router-link
        >
        <li v-if="user" class="cursor-pointer" @click="logout">Logout</li>
      </ul>
    </nav>
  </header>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import { useRouter } from "vue-router";

import { useStore } from "@/store/index";
import { supabase } from "@/supabase/supabase";

export default defineComponent({
  setup() {
    const store = useStore();
    const user = computed(() => store.state.user);
    const router = useRouter();
    const logout = async () => {
      await supabase.auth.signOut();
      router.push({ name: "home" });
    };

    return { logout, user };
  },
});
</script>
