<template>
  <div v-if="appReady" class="min-h-full font-Poppins box-border">
    <nav-bar />
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { supabase } from "@/supabase/supabase";

import { useStore } from "@/store/index";
import NavBar from "@/components/NavBar.vue";

export default defineComponent({
  components: {
    NavBar,
  },
  setup() {
    const appReady = ref<boolean | null>(null);
    const user = supabase.auth.user();
    const store = useStore();

    if (!user) {
      appReady.value = true;
    }
    supabase.auth.onAuthStateChange((_, session) => {
      store.commit("setUser", session ? session.user : null);
      appReady.value = true;
    });
    return { appReady };
  },
});
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
</style>
